/*--------------------------------------------------------------
12.0 Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
12.1 Posts and pages
--------------------------------------------------------------*/
.sticky {
}
.hentry {
	margin: 0 0 4em;

	/*.entry-content {
		float: letter-spacing: ;
		width: 70%;
	}

	.entry-meta,
	.entry-footer {
		float: right;
		padding-right: 5%;
		width: 25%;
	}*/

}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
12.2 Asides
--------------------------------------------------------------*/
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/*--------------------------------------------------------------
12.3 Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}