/*--------------------------------------------------------------
5.3 Header
--------------------------------------------------------------*/
#masthead {

	.site-logo {
		border-radius: 200px;
		display: inline;
		float: left;
		margin: 0 20px 0 0;
		max-width: 100px;

		@include bp(medium) {
			margin: 0 5% 0 0;
			max-width: 20%;
		}

		@include bp(small) {
			display: block;
			float: none;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}
	}

	.site-branding {
		float: left;
		max-width: 40%;

		@include bp(medium) {
			max-width: 75%;
		}

		@include bp(small) {
			float: none;
			margin: 0 auto;
			text-align: center;
			width: 100%;
		}
	}

	.main-navigation {
		float: right;
		margin: 4em 0 1em 0;
		max-width: 40%;

		@include bp(medium) {
			margin: 1em 0;
			text-align: center;
			max-width: 100%;
			width: 100%;

			li {
				border-bottom: 2px dotted #eee;
				float: none;

				a {
					padding: 1em 0;
				}
			}
		}

		@include bp(small) {
			text-align: center;
			width: 100%;
		}
	}
}
