/*--------------------------------------------------------------
7.0 Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
7.1 Links
--------------------------------------------------------------*/
a {
	color: $color__link;
}
a:visited {
	color: $color__link--visited;
}
a:hover,
a:focus,
a:active {
	color: $color__link--hover;
}

/*--------------------------------------------------------------
7.2 Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	margin: 3em 0 1em 0;
	width: 100%;
}
.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
	float: left;
	position: relative;
}
.main-navigation a {
	display: block;
	background: #fff;
	margin: 0 .5em 0 0;
	padding: 6px;
	text-decoration: none;
}
.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 1.5em;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
}
/* Small menu */
.menu-toggle {
	display: none;
}
@media screen and (max-width: 600px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}
.site-main .comment-navigation,
.site-main .paging-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}
.comment-navigation .nav-previous,
.paging-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}
.comment-navigation .nav-next,
.paging-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

/*--------------------------------------------------------------
7.3 Sidebar toggle
--------------------------------------------------------------*/
a.sidebar-toggle {
	background: #222;
	cursor: pointer;
	font: normal 28px/1 'dashicons';
	padding: 8px;
}

a.open {
	@include border-radius(0px 0px 8px 0);
	padding: 14px 28px 18px 14px;
	position: absolute;
		top: 0;
		left: 0;
}

a.sidebar-toggle {
	color: #999;
}

a.sidebar-toggle:hover {
	color: #fff;
}

a.sidebar-toggle .dashicons {
	font: normal 36px/1 'dashicons';
}