/*--------------------------------------------------------------
2.0 - Variables
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Fonts
--------------------------------------------------------------*/
$serif: serif;
$sans-serif: sans-serif;


/*--------------------------------------------------------------
2.2 - Colors
--------------------------------------------------------------*/
$color__primary-text: #404040;
$color__link: #333;
$color__link--visited: #333;
$color__link--hover: #666;